<!-- templates/home.html -->
{% extends 'users/detail.html' %}
{% block title %}LevelUp{% endblock %}
()
{% block content %}
<h1>Profile Page</h1>
<head>
    <!-- <link rel="stylesheet" href="static/styles.css"> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
        
        <!-- <form method="POST"> -->

        <!-- {{ form.hidden_tag() }}
        
            {% for field in form  
                if field.widget.input_type != 'hidden' %}
            <p>
                {{ field.label }}
                {{ field(class_="form-control") }}
        
                {% for error in field.errors %}
                <span class="form-text text-danger">{{ error }}</span>
                {% endfor %}
            </p>
            {% endfor %}
        
            <button class="btn btn-success" type="submit"> Let's Go! </button></div>
          </form> -->
</body>
</html>

{% endblock %}
