{% extends 'users/detail.html' %}
{% block content %}

<head>
    <title>Edit Workout</title>
</head>

<body>
    <div class="container">
        <h1 class="display-2">Add Workout</h1>
    <form method="POST">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}

        <div class="form-group">

            {{field.label}}
            {{field(class_="form-control")}}

            {% for err in field.errors %}
            {{err}}
        {% endfor %}
    </div> 
        {% endfor %}
        <button class="btn btn-success btn-large">Save</button>
    </form>
</div>
</body>
</html>
{% endblock %}